*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
	color: #fff;
}
/* ------------HEADER --------------*/

.menu_bar {
    display:none;
}
.header-logo {
    position: absolute;
    left: 2.5%;
    width: 100px;
    background: #fff;
    height: 95px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border: 0px solid #000000;
    top: 15px
}
.logo-diet-up {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

header {
    width: 100%;
    position: fixed;
    height: 4rem;
    z-index: 1 !important;
}
header nav {
    margin: 0rem 2rem;
    text-align: right;
}
header nav ul {
    list-style:none;
}
header nav ul li {
    display:inline-block;
    position: relative;
}
header nav ul li:hover {
    background:rgba(44, 119, 173, 0.82);
}

header nav ul li:hover a{
    background:#2c77ad;
}

header nav ul li a {
    color:#FFF;
    display:block;
    text-decoration:none;
    padding: 20px;
}

/*----*/

.navJS {
    margin: 0rem 2rem;
    text-align: right;
}
.navJS ul {
    list-style:none;
}
.navJS ul li {
    display:inline-block;
    position: relative;
    background: #FFF;
}

.navJS ul li:hover {
    background:#FFF;
}
.navJS ul li:hover a{
    background:#FFF;
}
.navJS ul li:hover a{
    color:#2c77ad;
    transition: all 0.3s linear;
}

.navJS ul li a {
    color:#666;
    display:block;
    text-decoration:none;
    padding: 20px;
}


/* ------------BANNER1----------- */

.banner1{
	margin-top: 0;
	position: relative;
}
.banner1-img{
    width: 100%;
}
.banner1-text {
    position: absolute;
    left: 60%;
    top: 23%;
    right: 5%;
}
.banner1-text h2 {
    font-weight: lighter;
    font-size: 3em;
    text-align: right;
}
.banner1-text-p {
    font-size: 25px;
    line-height: 1.5;
    margin: 2rem 0;
    text-align: right;
}
/* -------------BANNER2---------- */
.banner2{
	margin-top: 0;
	position: relative;
}
.banner2-img{
	margin-top: -50px;
	width: 100%;
	height: 660px;
}
.banner2-text{
    position: absolute;
    left: 12%;
    top: 7%;
    right: 47%;
}
.banner2-text h2{
    font-size: 3em;
    text-align: left;
}
.banner2-text p {
    font-size: 1.5em;
    margin: 1rem 0;
}
.icon-check {
    position: absolute;
    left: 10%;
    top: 40%;
}
span.icon-ok-circle {
    display: block;
    margin: 1rem;
    font-size: 2em;
    padding: 1.1rem 0;
}
.banner2-content-text {
    position: absolute;
    left: 16%;
    top: 40%;
    right: 49%;
}
.banner2-content-text p {
    font-size: 1.5em;
    margin: 2rem 0;
}
.banner2-img-grupo {
    position: absolute;
    left: 62%;
    top: 22%;
    width: 25%;
}
/* ------------BANNER 3 - FORMULARIO---------- */

.banner-form{
	margin-top: 0;
	position: relative;	
}
.form-banner4{
	width: 100%;
	height: 665px;
}
.banner4-text {
    position: absolute;
    top: 12%;
    left: 19%;
}
h2.form-h2, p.form-p{
	text-align: left;
    color: gray;
}
h2.form-h2 {
    font-size: 2.5em;
}
p.form-p {
    font-size: 1.6em;
    line-height: 2;
}
.form-text{
	position: absolute;
	top: 30%;
	left: 20%;
}
.datos, .email-enterprise, .form-textarea{
    width: 100%;
    margin: 0.6rem;
}
input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	border: 1px solid gray;
	font-family: "Lato";
	font-size: 1em;
	padding: 1rem;
}
.form-btn{
	margin: 1rem;
}
input.form-name {
    margin-right: 10px;
    width: 44%;
}
input.form-last-name {
    width: 52%;
}
input.form-email {
    margin-right: 10px;
    width: 66%;
}
input.form-enterprise {
    width: 30%;
}
textarea.text-mensaje {
    margin-bottom: 2rem;
    resize: none;
    overflow: hidden;

}
button.text-btn-envio {
    border: 2px solid #3e7cb1;
    background: #3e7cb1;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem 4rem;
    position: absolute;
    top: 81%;
    left: 45%;
}
/* --------------------FOOTER-------------------- */

footer{
    background: #36bca9;
    margin-top: -3px;
    width: 100%;
    height: 3rem;
    position: relative;
}
.footer-text{
    color: #fff;
    position: absolute;
    text-decoration: none;
    top: 30%;
    left: 3%;
}
.footer-icon {
    position: absolute;
    font-size: 1.3em;
    top: 20%;
    left: 89%;
}
a.icon-facebook, a.icon-linkedin {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
}
a.icon-facebook:hover, a.icon-linkedin:hover{
	color: rgba(40, 70, 95, 0.95);
}