*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
	color: #fff;
}

/*----------------MENU---------------------*/

.menu_bar {
    display:none;
}
.header-logo {
    position: absolute;
    left: 2.5%;
}
.logo-diet-up {
    width: 50%;
    margin: 0.5rem;
}
header {
    width: 100%;
    z-index: 1 !important;
    position: fixed;
    height: 4rem;
}
header nav {
    margin: 0rem 2rem;
    text-align: right;
}
header nav ul {
    list-style:none;
}
header nav ul li {
    display:inline-block;
    position: relative;
}
header nav ul li:hover {
    background:rgba(44, 119, 173, 0.82);
}
.text-color{
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 20px;
}



/* ---------------BANNER SECTION 1 ---------------- */

section{
	width: 100%;
}
.banner1{
	margin-top: 0;
	position: relative;
}
.banner1-img {
    width: 100%;
    height: 675px;
}
.banner1-img-mobile{
    display: none;
}
.tablet1{
    display: none;
}
.text-banner1{
	position: absolute;
    top: 21%;
    left: 13%;
}
.text-banner1 p{
    font-size: 1.5em;
}
h1 {
	font-size: 3em;
    line-height: 1.4;
    font-weight: 900;
    letter-spacing: 2px;
}
.b1-text-h3{
	font-weight: lighter;
    font-size: 1.5em;
}
.icon-option {
    position: absolute;
    top: 72%;
    left: 13%;
}
.banner1-icon-app{
    margin: 0.5rem;
    width: 34%;
}
.icon-down-open-big {
    background: #2c77ad;
    border-radius: 50%;
    border: 6px solid #fff;
    cursor: pointer;
    left: 50%;
    padding: 7px;
    position: absolute;
    top: 94.5%;
    z-index: 1;
}

/* ----------BANNER SECTION 2--------------- */

.banner2{
	margin-top: -1rem;
	position: relative;
}
.banner-fondo{
	width: 100%;
	height: 660px;
}
.img-section2-mobile{
    display: none;
}
.phone{
    top: 6%;
    left: 36%;
    position: absolute;
    height: 620px;
    width: 400px;
}
.logo-apple, .logo-escala, .logo-copa, .parrafo-apple, .parrafo-escala, .parrafo-copa, .b2-text-h2, .b2-text-h3{
    position: absolute;
    z-index: 1;
}
.logo-apple{
	top: 45%;
    left: 15%;
}
.parrafo-apple{
	top: 65%;
    left: 10%;
    font-size: 27px;
    text-align: center;
}
.logo-escala{
	top: 13%;
    left: 76.5%;
}
.parrafo-escala{
	top: 32%;
    left: 75%;
    font-size: 27px;
    text-align: center;
}
.logo-copa{
	top: 58%;
    left: 76.5%;
}
.parrafo-copa{
	top: 75%;
    left: 75%;
    font-size: 27px;
    text-align: center;
}
.b2-text-h2{
	font-size: 2.7em;
    font-weight: lighter;
    top: 20%;
    left: 10%;
}
.b2-text-h3{
	font-size: 3em;
	top: 28%;
    left: 10%;
}

/* -------------BANNER 3-------------- */

.banner3 {
    margin-top: -0.5rem;
    position: relative;
}
.banner-img3{
	width: 100%;
}
.img-section3-mobile {
    display: none;
}
.img-tablet3{
    display: none;
}
.text-banner3{
    top: 20%;
    left: 11%;
    position: absolute;
}
.text-banner3 h3 {
    font-size: 2em;
    font-weight: lighter;
}
.text-banner3 h2 {
    font-size: 2.5em;
    letter-spacing: 3px;
    font-weight: 900;
}
.b3-text-p{
    font-size: 1.5em;
    margin: 2rem 0;
}
.b3-btn{
    background: transparent;
    border: 4px solid #39739c;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 0.7rem 5rem;
}
.b3-btn:hover{
	background: rgba(29, 36, 41, 0.3);
    border: 4px solid rgba(44, 53, 60, 0.12);
}

/* ------------BANNER 4 - FORMULARIO---------- */

.banner-form{
	margin-top: 0;
	position: relative;	
}
.form-banner4{
	width: 100%;
	height: 665px;
}
.banner4-text {
    position: absolute;
    margin: 2rem;
    left: 26%;
    font-size: 1em;
    top: 4%;
}
h2.form-h2, p.form-p{
	text-align: center;
    color: gray;
}
h2.form-h2 {
    font-size: 2.5em;
}
p.form-p {
    font-size: 1.6em;
    line-height: 2;
}
.form-text {
    position: absolute;
    top: 30%;
    left: 20%;
}
.datos, .email-enterprise, .form-textarea{
    width: 100%;
    margin: 0.6rem;
}
input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	border: 1px solid gray;
	font-family: "Lato";
	font-size: 1em;
	padding: 1rem;
}
.form-btn{
	margin: 1rem;
}
input.form-name {
    margin-right: 10px;
    width: 44%;
}
input.form-last-name {
    width: 52%;
}
input.form-email {
    margin-right: 10px;
    width: 66%;
}
input.form-enterprise {
    width: 30%;
}
textarea.text-mensaje {
    margin-bottom: 2rem;
    resize: none;
    overflow: hidden;

}
span.icon-mail {
    border-radius: 100%;
    border: 1px solid gray;
    color: gray;
    font-size: 1.2em;
    padding: 6px 5px 9px 5px;
}
.span-mail{
	color: #06d5ef;
    margin: 0.5rem;
}
button.text-btn-envio {
    border: 2px solid #3e7cb1;
    background: #3e7cb1;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    float: right;
    padding: 0.5rem 4rem;
}

/* -------------------- BANNER5------------- */

.banner5{
	margin-top: 0;
	position: relative;	
}
.banner5-img{
	width: 100%;
}
.icon-zanahoria{
    position: absolute;
    top: -6%;
    left:50%;
}
.banner5-content{
    position: absolute;
    top: -8%;
    left: 0%;
}
.banner5-img-phone{
    height: 600px;
}
.banner5-text {
    position: absolute;
    top: 18%;
    text-align: right;
    left: 60%;
}
.banner5-text-h2{
    font-size: 3em;
    line-height: 1.4;
    font-weight: lighter;
}
p.banner5-text-p {
    font-size: 2em;
}
button.banner5-btn {
    background: #fff;
    border: none;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    font-size: 18px;
    margin-top: 3rem;
    padding: 0.8rem 4rem;
}
button.banner5-btn:hover{
	background: rgb(54, 188, 169);
	color: #fff;
}
/* --------------------FOOTER-------------------- */
footer{
    background: #36bca9;
    margin-top: -3px;
    width: 100%;
    height: 3rem;
    position: relative;
}
.footer-text{
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 30%;
    left: 3%;
}
.footer-icon {
    position: absolute;
    font-size: 1.3em;
    top: 20%;
    left: 89%;
}
a.icon-facebook, a.icon-linkedin {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
}
a.icon-facebook:hover, a.icon-linkedin:hover{
	color: rgba(40, 70, 95, 0.95);
}
