
@media screen and (max-width: 1024px) {
	.content {
	    position: relative;
	}

/* ---------HEADER ------------*/

    header{
        background-color: #fff;
        top: 0px;
    }
    .menu_bar {
        display:block;
    }
    .header-logo {
        background: none;
        width: 70px;
        top: 0;
    }
    .menu_bar span {
        color: #545973;
        float: right;
        font-size: 1.3em;
        margin: 1rem;
    }
    header nav {
        background: rgba(57, 89, 112, 0.98);
        text-align: left;
        position: fixed;
        width: 100%;
        margin: 4rem 0;
    }
    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }
    header nav ul li a {
        display: block;
    }
}

@media only screen and (min-width : 320px) and (max-width : 768px){
/* ---------BANNER 1-----------*/
	.banner1 {
	    margin-top: 3rem;
	}
	.banner1-img{
		height: 200px;
	}
	.banner1-text {
	    left: 0%;
	    right: 0%;
	    top: 10%;
	}
	.banner1-text h2 {
	    font-size: 1.7em;
	    text-align: center;
	}
	.banner1-text-p {
	    font-size: 1em;
	    margin: 1rem;
	    line-height: normal;
	    text-align: center;
	}
	img.logo {
	    width: 15%;
	    left: 2%;
	}
/* ---------BANNER 2 --------- */
	.banner2 img {
	    margin-top: -3px;
	}
	.banner2-text {
	    left: 10%;
	    right: 9%;
	    top: 10%;
	}
	.banner2-text h2 {
	    font-size: 1.5em;
	    text-align: center;
	}
	.banner2-text p {
	    font-size: 1em;
	}
	.icon-check {
	    position: absolute;
	    left: 3%;
	    top: 40%;
	}
	.banner2-content-text {
	    left: 26%;
	    right: 6%;
	    top: 40%;
	}
	.banner2-content-text p {
	    font-size: 1em;
	}
	img.banner2-img-grupo {
	    display: none;
	}
/* --------------FORM----------------- */

	
	.banner4-text {
	    position: relative;
	    margin: 1rem;
	    left: 0;
	}
	h2.form-h2 {
	    font-size: 1.5em;
	}
	p.form-p {
	    font-size: 1.2em;
	    line-height: 1.3;
	    margin: 1rem 0;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	   position: relative;
	    margin: 0 3rem;
	    left: 0%;
	}
	.datos, .email-enterprise, .form-textarea {
	    margin: 0; 
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	    display: block;
	    width: 100%;
	    margin: 1rem 0;
	}
	button.text-btn-envio {
	    margin: 0rem;
	    padding: 0.5rem 5.8rem;
	    font-size: 0.8em;
	    top: 100%;
	    left: 15%;
	}
/* ------------FOOTER------------------------------ */

	footer {
	    margin-top: 3rem;
	}
	.footer-icon{
	    font-size: 1em;
	    left: 60%;
	    top: 23%;
	}  
	.footer-text {
    	font-size: 0.8em;
	}
}

/* -----Tablets en horizonal y escritorios normales------ */
@media (min-width: 768px) and (max-width: 1199px) { 
	
/* --------------BANNER 1---------------- */
	.logo-diet-up {
	    display: none;
	}
	.banner1 {
	    margin-top: 4rem;
	    position: relative;
	    margin-bottom: -1rem;
	}
	.banner1-text {
	    top: 6%;
	    right: 5%;
	    left: 55%;
	}
	.banner1-text h2 {
	    font-size: 2.4em;
    	margin: 0 4rem;
	}
	.banner1-text-p {
	    font-size: 1.3em;
	    margin: 2rem 4rem;
	}
	.banner2-img {
	    margin-top: 0;
	    height: 750px;
	}
	.banner2-img-grupo {
	    top: 36%;
	}
	.banner2-text p {
	    font-size: 1.4em;
	}

/* ---------------------FORM--------------------- */

	.banner-form {
	    position: relative;
	    height: 620px;
	}
	.banner4-text {
	   	position: relative;
    	margin: 3rem;
    	left: 0%;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	   	position: relative;
	    margin: 0 3rem;
	   	left: 0%;
	   	top: 6%;
	}
	button.text-btn-envio {
	    margin: 0rem;
	    left: 40%;
	}
	textarea.text-mensaje {
	    width: 98%;
	}
	.form-btn {
	    margin: 3rem;
	}

/* ----------------FOOTER -----------------*/
	.footer-icon {
	    left: 80%;
	}
}