@media screen and (max-width: 1024px) {
	.content {
	    position: relative;
	}
	header{
		background-color: #fff;
	}
	.menu_bar {
		display:block;
		position: fixed;
		top:0;
		height: 4rem;
		width:100%;
	}
	.header-logo {
		display: none;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: gray;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
	.menu_bar span {
		color: #545973;
		float: right;
		font-size: 1.3em;
	}
	header nav {
		background: rgba(57, 89, 112, 0.98);
		text-align: left;
		position: fixed;
		width: 100%;
		margin: 4rem 0;
	}
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	header nav ul li a {
		display: block;
	}
}

@media only screen and (min-width : 320px) and (max-width : 768px){

	.banner1 {
		margin-top: 0;
	}
	.banner1-img {
		display: none;
	}
	.tablet1{
		display: none;
	}
	.banner1-img-mobile{
		display: block;
		width: 100%;
	}
	.text-banner1 {
		top: 23%;
    	left: 0%;
		text-align: center;
	}
	h1 {
		font-size: 1.6em;
		line-height: 1;
	}
	.text-banner1 p {
		font-size: 1.3em;
		line-height: 1;
		margin: 1rem;
		font-weight: lighter;
	}
	.icon-option {
		top: 80%;
		left: 35%;
	}
	.logo-diet-up {
		display: none;
	}
	span.icon-down-open-big {
		left: 44%;
		top: 93%;
	}
	.banner1-icon-app {
		margin: -8px 3px;
		width: 30%;
	}

	/* ----------BANNER SECTION 2--------------- */

	.banner-fondo {
		display: none;
	}
	img.phone {
		display: none;
	}
	.img-section2-mobile{
		display: block;
		width: 100%;
		height: 900px;
	}
	.b2-text-h2 {
		font-size: 1.5em;
		top: 9%;
		left: 29%;
	}
	.b2-text-h3 {
		font-size: 2em;
		top: 13%;
		left: 31%;
	}
	.logo-apple {
	    top: 23%;
	    left: 36%;
	    width: 25%;
	    margin: 1rem;
	}
	.parrafo-apple {
		top: 35%;
		left: 25%;
		font-size: 1.2em;
		text-align: center;
	}
	.logo-escala {
		top: 47%;
		left: 32%;
		width: 25%;
		margin: 1rem;
	}
	.parrafo-escala {
		top: 60%;
		left: 27%;
		font-size: 1.2em;
		text-align: center;
	}
	.logo-copa {
		top: 71%;
		left: 33%;
		width: 25%;
		margin: 1rem;
	}
	.parrafo-copa {
		top: 84%;
		left: 32%;
		font-size: 1.2em;
		text-align: center;
	}

	/* ----------BANNER SECTION 3--------------- */

	.banner-img3 {
		display: none;
	}
	.img-tablet3{
		display: none;
	}
	.img-section3-mobile{
		display: block;
		width: 100%;
		height: 320px;
	}
	.text-banner3 {
		top: 12%;
		text-align: center;
		left: 7%;
		right: 7%;
	}
	.b3-text-h2 {
		font-size: 2em;
	}
	.b3-text-p {
		font-size: 1em;
		margin: 1.5rem;
	}
	button.b3-btn {
		padding: 0.5rem 3rem;
		border: 3px solid #39739c;
		margin: 1rem;
		font-size: 1em;
		background: transparent;
	}

	/* ---------------BANNER 4--------------------- */

	.banner4-text {
		position: relative;
		margin: 1rem;
		left: 0;
	}
	h2.form-h2 {
		font-size: 1.5em;
	}
	p.form-p {
		font-size: 1.2em;
		line-height: 1.3;
		margin: 1rem 0;
	}
	.form-banner4 {
		display: none;
	}
	.form-text {
		position: relative;
		margin: 0 3rem;
		left: 0%;
	}
	.datos, .email-enterprise, .form-textarea {
		margin: 0;
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
		display: block;
		width: 100%;
		margin: 1rem 0;
	}
	button.text-btn-envio {
		margin: 0rem;
		padding: 0.5rem 5.8rem;
		font-size: 0.8em;
		top: 102%;
		left: 15%;
	}

	/* -------------------BANNER 5--------------------- */

	.banner5-img {
		height: 400px;
		margin: 4rem 0 0;
	}
	.banner5-text-h2 {
		font-size: 2em;
	}
	p.banner5-text-p {
		font-size: 1.5em;
	}
	.banner5-content {
		top: 18%;
		left: 13%;
	}
	.banner5-img-phone {
		display: none;
	}
	.banner5-text {
		text-align: center;
		left: 8%;
		top: 35%;
	}
	.icon-zanahoria {
		top: 9%;
		left: 42%;
		width: 15%;
	}
	button.banner5-btn {
	    top: 65%;
	    left: 17%;
	}

	/* ------------FOOTER------------------------------ */
	.footer-icon{
		font-size: 1em;
		left: 70%;
		top: 23%;
	}
}

/* -----Tablets en horizonal y escritorios normales------ */


@media (min-width: 768px) and (max-width: 1199px) {
	.banner1 {
		margin-top: 0rem;
		position: relative;
	}
	h1 {
	    font-size: 2em;
	}
	.banner1-img{
		display: none;
	}
	.tablet1{
		display: block;
		width: 100%;
		height: 640px;
	}
	.logo-diet-up{
		display: none;
	}
	.text-banner1 {
		top: 15%;
		text-align: center;
		left: 8%;
		font-size: 1.5em;
	}
	.icon-option {
		top: 79%;
		left: 42%;
	}
	.icon-down-open-big {
		top: 93%;
		left: 47%;
	}

	/* ---------------------BANNER 2--------------------- */

	.banner-fondo {
		display: none;
	}
	img.phone {
		display: none;
	}
	.img-section2-mobile{
		display: block;
		width: 100%;
		height: 660px;
	}
	.b2-text-h2 {
		top: 13%;
		left: 33%;
	}
	.b2-text-h3 {
		top: 20%;
		left: 36%
	}
	.logo-apple {
		top: 39%;
		left: 12%;
	}
	.parrafo-apple {
		top: 64%;
		left: 6%;
		font-size: 1.5em;
	}
	.logo-escala {
		top: 39%;
		left: 46%;
	}
	.parrafo-escala {
		top: 64%;
		left: 44%;
		font-size: 1.5em;
	}
	.logo-copa {
		top: 39%;
		left: 79%;
	}
	.parrafo-copa {
		top: 64%;
		left: 78%;
		font-size: 1.5em;
	}

	/* ---------------------BANNER 3--------------------- */

	.banner-img3{
		display: none;
	}
	.img-section3-mobile {
		display: none;
	}
	.img-tablet3{
		display: block;
		width: 100%;
		height: auto;
	}
	.b3-text-h2 {
		font-size: 1.7em;
	}
	.b3-text-p {
		margin: 1rem 0;
	}
	.text-banner3 {
		top: 16%;
		text-align: center;
		left: 19%;
		font-size: 1.3em;
	}

	/* ---------------------FORM--------------------- */

	.banner-form {
		position: relative;
		height: 620px;
	}
	.banner4-text {
		position: relative;
		margin: 3rem;
		left: 0%;
	}
	.form-banner4 {
		display: none;
	}
	.form-text {
		position: relative;
		margin: 0 3rem;
		left: 0%;
		top: 6%;
	}
	button.text-btn-envio {
		margin: 0rem;
	}
	textarea.text-mensaje {
		width: 98%;
	}
	button.text-btn-envio {
		left: 39%;
	}
	/* --------------------BANNER 5-------------*/

	.banner5-img {
		height: 500px;
	}
	.icon-zanahoria {
		left: 43%;
	}
	.banner5-content {
		top: 4%;
	}
	.banner5-img-phone {
		display: none;
	}
	.banner5-text {
		left: 22%;
		top: 15%;
		text-align: center;
		font-size: 1.3em;
	}
	.banner5-text-h2 {
		font-size: 2em;
		margin: 1rem;
	}
	button.banner5-btn.descarga {
	    top: 65%;
	    left: 36%;
	}
	/*-------------------FOOTER---------------------- */

	.footer-icon {
		left: 85%;
	}
}