@media (max-width: 768px){
/* ---------BANNER 1..---------*/
	.banner1-img{
		height: 200px;
	}
	.banner1-text {
	    left: 0%;
	    right: 0%;
	    top: 10%;
	}
	.banner1-text h2 {
	    font-size: 1.7em;
	    text-align: center;
	}
	.banner1-text-p {
	    font-size: 1em;
	    margin: 1rem;
	    line-height: normal;
	    text-align: center;
	}
	img.logo {
	    width: 15%;
	    left: 2%;
	}
/* ---------BANNER 2 --------- */
	.banner2 img {
	    margin-top: -3px;
	}
	.banner2-text {
	    left: 10%;
	    right: 9%;
	    top: 10%;
	}
	.banner2-text h2 {
	    font-size: 1.5em;
	    text-align: center;
	}
	.banner2-text p {
	    font-size: 1em;
	}
	.icon-check {
	    position: absolute;
	    left: 3%;
	    top: 40%;
	}
	.banner2-content-text {
	    left: 26%;
	    right: 6%;
	    top: 40%;
	}
	.banner2-content-text p {
	    font-size: 1em;
	}
	img.banner2-img-grupo {
	    display: none;
	}
/* --------------FORM----------------- */

	.banner-form {
	    position: initial;
	}
	.banner4-text {
	    position: inherit;
	    margin: 2rem;
	}
	h2.form-h2 {
	    font-size: 1.6em;
	}
	p.form-p {
	    font-size: 1.5em;
	    line-height: 1.3;
	    margin: 1rem 0;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	    position: inherit;
	    margin: 0 3rem;
	}
	.datos, .email-enterprise, .form-textarea {
	    margin: 0; 
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	    display: block;
	    width: 100%;
	    margin: 1rem 0;
	}
	.form-btn {
	    margin: 2rem 0;
	}
	button.text-btn-envio {
	    float: right;
	    margin: 0rem;
	}
	button.text-btn-envio {
	    float: none;
	    margin: 3rem 0 0 1rem;
	}
	
/* ------------FOOTER------------------------------ */

	footer {
	    margin-top: 3rem;
	}
	.footer-icon{
	    font-size: 1em;
	    left: 60%;
	    top: 23%;
	}  
	.footer-text {
    	font-size: 0.8em;
	}
}

/* -----Tablets en horizonal y escritorios normales------ */
@media (min-width: 960px) and (max-width: 1199px) { 
	
/* --------------BANNER 1---------------- */
	.banner1-text {
	    top: -2%;
	}
	.banner1-text h2 {
	    font-size: 2.4em;
	}
	.banner1-text-p {
	    font-size: 1.3em;
	    margin: 2rem 4rem;
	}
	.banner2 img {
	    height: 470px;
	    margin-top: 0;
	}
	.banner2-text p {
	    font-size: 1.4em;
	}

/* ---------------------FORM--------------------- */

	.banner-form {
	    position: initial;
	}
	.banner4-text {
	    position: inherit;
	    margin: 3rem;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	    position: inherit;
	    margin: 5rem;
	}
	.datos, .email-enterprise, .form-textarea {
	    margin: 0; 
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	    display: block;
	    width: 100%;
	    margin: 1rem 0;
	}
	button.text-btn-envio {
	    float: right;
	    margin: 0rem;
	}
	.form-btn {
	    margin: 3rem;
	}
/* ----------------FOOTER -----------------*/
	.footer-icon {
	    left: 80%;
	}
}