@media screen and (max-width: 800px) {
	.menu_bar {
		display:block;
		background:#2c77ad;
		position: fixed;
		top:0;
	    height: 4rem;
		width:100%;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
	.menu_bar span {
		float: right;
		font-size: 1em;
	}
	header nav {
	    background: rgba(57, 89, 112, 0.98);
	    text-align: left;
	    position: fixed;
	    width: 100%;
		margin: -1rem 0;
	    overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	header nav ul li a {
		display: block;
	}
	header#header-menu {
	    background: transparent !important;
	}
}

@media only screen and (min-width : 320px) and (max-width : 768px){
	.banner1 {
	    margin-top: 4rem;
	}
	.banner1-img {
	   display: none;
	}
	.banner1-img-mobile{
	    display: block;
	    width: 100%;
	}
	.text-banner1 {
	    top: 13%;
	    left: 6%;
	    text-align: center;
	}
	h1 {
	    font-size: 1.6em;
	    line-height: 1;
	}
	.text-banner1 p {
	    font-size: 1.3em;
	    line-height: 1;
	    margin: 1rem;
	    font-weight: lighter;
	}
	.icon-option {
	    top: 75%;
	    left: 35%;
	}
	.logo-diet-up {
	    display: none;
	}
	span.icon-down-open-big {
	    left: 44%;
    	top: 93%;
	}
	.banner1-icon-app {
	    margin: -8px 3px;
	    width: 30%;
	}

	

/* ----------BANNER SECTION 2--------------- */
	.banner-fondo {
		display: none;
	}
	img.phone {
    	display: none;
	}
	.img-section2-mobile{
		display: block;
		width: 100%;
		height: 900px;
	}
	.b2-text-h2 {
	    font-size: 1.5em;
	    top: 9%;
	    left: 29%;
	}
	.b2-text-h3 {
	    font-size: 2em;
	    top: 13%;
	    left: 31%;
	}
	.logo-apple {
	    top: 23%;
    	left: 40%;
    	width: 25%;
	}
	.parrafo-apple {
	    top: 33%;
	    left: 25%;
	    font-size: 1.2em;
	    text-align: center;
	}
	.logo-escala {
	    top: 45%;
	    left: 35%;
	    width: 25%;
	}
	.parrafo-escala {
	    top: 55%;
	    left: 27%;
	    font-size: 1.2em;
	    text-align: center;
	}
	.logo-copa {
	    top: 68%;
	    left: 36%;
	    width: 25%;
	}
	.parrafo-copa {
	    top: 78%;
	    left: 32%;
	    font-size: 1.2em;
	    text-align: center;
	}

/* ----------BANNER SECTION 3--------------- */

	.banner-img3 {
	    display: none;
	}
	.img-section3-mobile{
		display: block;
		width: 100%;
		height: 320px;	
	}
	.text-banner3 {
	    top: 12%;
	    text-align: center;
	    left: 7%;
	    right: 7%;
	}
	.b3-text-h2 {
	    font-size: 2em;
	}
	.b3-text-p {
	    font-size: 1em;
		margin: 1.5rem;
	}
	button.b3-btn {
	    padding: 0.5rem 3rem;
	    border: 3px solid #39739c;
	    margin: 1rem;
	    font-size: 1em;
	    background: transparent;
	}

/* ---------------BANNER 4--------------------- */

	.banner-form {
	    position: initial;
	}
	.banner4-text {
	    position: relative;
	    margin: 1rem;
	    left: 0;
	}
	h2.form-h2 {
	    font-size: 1.5em;
	}
	p.form-p {
	    font-size: 1.2em;
	    line-height: 1.3;
	    margin: 1rem 0;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	    position: inherit;
	    margin: 0 3rem;
	}
	.datos, .email-enterprise, .form-textarea {
	    margin: 0; 
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	    display: block;
	    width: 100%;
	    margin: 1rem 0;
	}
	.form-btn {
	    margin: 2rem -1.5rem;
	}
	.span-mail {
	    font-size: 0.7em;
	    margin: 0;
	}
	span.icon-mail {
	    font-size: 0.8em;
	    padding: 4px;
	}

	button.text-btn-envio {
	    float: right;
	    margin: -0.5rem 0;
	    padding: 0.5rem 2.5rem;
	    font-size: 0.8em;
	}	

/* -------------------BANNER 5--------------------- */

	.banner5-img {
	    height: 400px;
	    margin: 4rem 0 0;
	}
	.banner5-text-h2 {
	    font-size: 2em;
	}
	p.banner5-text-p {
	    font-size: 1.5em;
	}
	.banner5-content {
	    top: 18%;
	    left: 13%;
	}
	.banner5-img-phone {
	    display: none;
	}
	.banner5-text {
	    text-align: center;
	    left: 8%;
	    top: 35%;
	}
	.icon-zanahoria {
	    top: 6%;
	    left: 40%;
}

/* ------------FOOTER------------------------------ */
	.footer-text{
		display: none;
	}
	.footer-icon{
	    font-size: 1em;
	    left: 70%;
	    top: 23%;
	}    
}



/* -----Tablets en horizonal y escritorios normales------ */


@media (min-width: 960px) and (max-width: 1199px) { 
	.logo-diet-up{
		display: none;
	}
	.banner1 img{
		height: 450px
	}
	.text-banner1 {
	    top: 2%;
	}
	.icon-option {
	    top: 85%;
	    left: 70%;
	}

/* ---------------------BANNER 2--------------------- */

	img.phone {
	    display: none;
	}
	.b2-text-h2 {
	    top: 10%;
	}
	.b2-text-h3 {
	    top: 20%;
	}
	.logo-escala {
	    left: 65%;
	}
	.parrafo-escala {
	    left: 65%;
	}
	.logo-copa {
	    left: 65%;
	}
	.parrafo-copa {
	    left: 65%;
	}

/* ---------------------BANNER 3--------------------- */

	.b3-text-h2 {
	    font-size: 1.7em;
	}
	.b3-text-p {
	    margin: 1rem 0;
	}
	.text-banner3 {
	    top: 8%;
	}

/* ---------------------FORM--------------------- */

	.banner-form {
	    position: initial;
	}
	.banner4-text {
	    position: inherit;
	    margin: 3rem;
	}
	.form-banner4 {
	    display: none;
	}
	.form-text {
	    position: inherit;
	    margin: 5rem;
	}
	.datos, .email-enterprise, .form-textarea {
	    margin: 0; 
	}
	input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	    display: block;
	    width: 100%;
	    margin: 1rem 0;
	}
	button.text-btn-envio {
	    float: right;
	    margin: 0rem;
	}
	.form-btn {
	    margin: 3rem;
	}

/* --------------------BANNER 5-------------*/

	.banner5-img {
	    height: 500px;
	}
	.banner5-content {
	    top: 4%;
	}
	.banner5-img-phone {
	    width: 83%;
	    height: 481px;
	}
	.banner5-text {
	    left: 70%;
	    top: 15%;
	    width: 76%;
	}
	.banner5-text-h2 {
	    font-size: 2em;
	    margin: 1rem;
	}

/*-------------------FOOTER---------------------- */

.footer-icon {
	    left: 85%;
	}
}

