*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: rgb(85, 88, 90);
    background-color: #f9fafd;
    height: 100%;
}
/*----------------MENU---------------------*/

.menu_bar {
    display:none;
}
.header-logo {
    position: absolute;
    left: 2.5%;
    margin: -2px;
}
.logo-diet-up {
    width: 50%;
    margin: 0.5rem;
}
header {
    width: 100%;
    z-index: 1 !important;
    position: fixed;
    height: 4rem;
}
header nav {
    margin: 0rem 2rem;
    text-align: right;
}
header nav ul {
    list-style:none;
}
header nav ul li {
    display:inline-block;
    position: relative;
}
 
header nav ul li:hover {
    background:rgba(44, 119, 173, 0.82);
}
.text-color{
    color:gray !important;
    display:block;
    text-decoration:none;
    padding: 20px;
}

/* ---------------SECTION----------------- */

main{
    position: relative;
}
section {
    margin: 10rem 6rem;
    position: absolute;
    text-align: justify;
    line-height: 1.5;
    min-height: 100%;
    margin-bottom: -150px;
}
h1{
    text-align: center;
    line-height: 5;
    text-decoration: underline;
}
.text-sub{
    margin: 3rem 2rem;
}
div{
    margin: 2rem 1rem;
}
h2 {
    margin: 1rem;
}
h3{
    margin: 2rem 1rem;
}
.text-sub2{
    margin: 0 3rem;
}
/* ----------------FOOTER---------------- */
footer{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #36bca9;
    bottom: 0;
}
.text-footer {
    margin: 1rem 3rem;
}
a.icon-facebook, a.icon-linkedin {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
    float: right;
}
a.icon-facebook:hover, a.icon-linkedin:hover{
    color: rgba(40, 70, 95, 0.95);
}

/* ------------RESPONSIVE ---------------*/

@media screen and (max-width: 768px) {

    .menu_bar {
        display:block;
        position: fixed;
        top:0;
        height: 4rem;
        width:100%;
        margin: 0rem;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
   .menu_bar span {
        color: #545973;
        float: right;
        font-size: 1.3em;
    }
    header nav {
        background: rgba(57, 89, 112, 0.98);
        text-align: left;
        position: fixed;
        width: 100%;
        margin: 4rem 0;
        overflow: scroll;
    }
    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }
    header nav ul li a {
        display: block;
    }
    section {
        margin: 3rem 0;
    }
}